@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,700');
@widthAll =1366px;
.body {
  font-family: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
}

.container {
  width: 1366px;
  margin: 0 auto;
}

.container a img {
  border: none;
}

.header {
  min-height: 90px;
  background-color: #f1f1f1;
}

.navbar {
  height: 90px;
}

.navbar .logo {
  /*  float: left;*/
  margin-left: 98px;
  margin-top: 63px;
}

.navbar .menu {
  float: right;
  margin-right: 6px;
  margin-top: 52px;
}

.navbar .menu li {
  float: left;
  list-style-type: none;
}

.navbar .menu li a {
  font-family: 'Montserrat';
  text-decoration: none;
  color: #8c8c8c;
  font-size: 13.5px;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 34px;
  display: block;
  /*  display: inline-block;*/
  padding: 0 14px;
}

.navbar .menu li .active {
  color: #212121;
  font-weight: 700;
  border-bottom: 3px solid black!important;
}

.navbar .menu li a:active {
  color: #212121;
  border-bottom: 3px solid black!important;
}

.navbar .menu li a:hover {
  color: #212121;
  border-bottom: 1px solid black;
}

.navbar .search {
  float: right;
  margin-top: 63px;
  margin-right: 167px;
}

.main > .title {
  width: 1366px;
  height: 270px;
/*  padding-left: 98px;*/
  background-color: #f1f1f1;
  margin-bottom: -55px;
  /*  padding-top: 155px;*/
}

.main > .title h1 {
  padding-left: 98px;
  font-family: 'Montserrat';
  color: #212121;
  font-size: 60px;
  font-weight: 200;
  /*  line-height: 75px;*/
  letter-spacing: -0.05em;
  word-spacing: 0.2em;
  margin-top: 155px;
  float: left;
  /*  display: block;*/
}

.all_products .title .tab_controll {
  /*  margin-top: 67px;*/
  /*  margin-left: 98px;*/
  /*  margin-bottom: 38px;*/
}

.all_products .title .tab_controll a {
  font-size: 18px;
  padding-right: 27px!important;
  letter-spacing: 0.06em;
}

.product {
  float: left;
  /*
  margin-right: 10px;
  margin-bottom: 10px;
*/
}

.product .content {
  display: table-cell;
  vertical-align: middle;
  font-family: 'Montserrat';
  /*  padding-left: 7%;*/
}


/*
.content {
  float: left;
}
*/

.product .content h3 {
  font-size: 20px;
  font-weight: 700;
}

.product .content h2 {
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: -5px;
  letter-spacing: -0.03em;
}

.product .content h1 {
  color: #212121;
  font-size: 60px;
  font-weight: 200;
  line-height: 75px;
  letter-spacing: -0.05em;
  word-spacing: 0.2em;
}

.product .content p {
  color: #6c6c6c;
  font-size: 13.75px;
  font-weight: 300;
  line-height: 24px;
  margin-top: 13px;
  margin-bottom: 27px;
}

.product .content .btn-order {
  text-decoration: none;
  color: #212121;
  font-size: 17px;
  letter-spacing: 0.22em;
  font-weight: 700;
  line-height: 45px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
  width: 212px;
  height: 45px;
  display: block;
  border-radius: 18px;
}

.content .btn-order img {
  padding-left: 18px;
  opacity: 0;
  /*  opacity: 0;*/
}

.product:hover .btn-order img {
  opacity: 1;
}

.content .btn-order:hover {
  box-shadow: 0px 4px 9px 0.3px rgba(33, 33, 33, 0.35);
}

.content .btn-order:active {
  box-shadow: none;
}

.big_box .product .content {
  /*  width: 1366px;*/
  /*  padding-left: 7%;*/
  text-align: left;
}

.big_box_1 {
  width: 1366px;
  /*  height: 710px;*/
  position: relative;
}

.trending_slider_products {
  height: 710px;
}

.trending_slider_products .tag {
  color: #43a047;
}

.big_box_1 .product {
  width: 1366px;
}

.big_box .slider-nav {
  display: block;
  position: absolute;
  width: 1366px;
  /*  height: 90px;*/
  height: 40px;
  bottom: 19px;
  left: 0px;
  text-align: center;
  background-image: url(img/slider-navi.png);
  background-position: center;
  /*  background-color: blue;*/
}

.slider-nav a img {
  padding: 0 3px;
  opacity: 0;
}

.slider-nav a:hover img {
  opacity: 1;
}

.slider-nav a:active img {
  opacity: 0.5;
}

.big_box_2 {
  width: 1366px;
  height: 683px;
}

.big_box_2 .product {
  width: 683px;
  height: 683px;
  background-color: bisque;
}

.big_box_2 .product .content {
  width: 378px;
  height: 683px;
}

.trending_product {
  height: 710px;
  background-image: url(img/slider-img.jpg);
  background-position: bottom;
  /*  padding-left: 7%;*/
}

.trending_product .content {
  height: 710px;
  width: 488px;
  /*  background-color: aquamarine;*/
  padding-left: 98px;
}

.promo_products .content {
  padding-left: 7%;
  /*  width: 378px;*/
}

.promo_products .tag {
  color: #1e88e5;
}

.small_box {
  padding: 120px 98px 90px 98px;
}

.small_box .title {
  height: 100px;
  /*  margin-bottom: 38px;*/
  /*  background-color: red;*/
}

.small_box .title h2 {
  font-family: Montserrat;
  color: #212121;
  font-size: 36px;
  letter-spacing: -0.035em;
  font-weight: 700;
  float: left;
}

.small_box .title .tab_controll {
  height: 50px;
  float: left;
}

.small_box .title .tab_controll .active {
  color: #212121;
  border-bottom: 3px solid #212121!important;
}

.small_box .title .tab_controll a:hover {
  border-bottom: 1px solid #212121;
}

.small_box .title .tab_controll a:active {
  color: #212121;
  border-bottom: 3px solid #212121;
}

.small_box .title .tab_controll li {
  list-style-type: none;
  float: left;
}

.small_box .title .tab_controll a {
  font-family: Montserrat;
  color: #6c6c6c;
  letter-spacing: -0.03em;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
  display: block;
  padding-left: 7px;
  padding-right: 19px;
  padding-bottom: 10px;
}

.small_box .product {
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
}

.small_box .product .content {
  /*  display: table-cell;*/
  display: none;
  vertical-align: middle;
  background-color: #ffffff;
  opacity: 0.9;
}

.small_box .product:hover .content {
  display: table-cell;
}

.small_box_4 .title .tab_controll a {
  font-size: 36px;
}

.bnt-ghost {
  float: right;
  margin-top: 20px;
  font-family: Montserrat;
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.15em;
  word-spacing: 0.1em;
  /*  line-height: 24px;*/
  text-decoration: none;
  opacity: 1;
}

.bnt-ghost img {
  margin-left: 9px;
  opacity: 0;
}

.bnt-ghost:hover {
  opacity: 0.75;
}

.bnt-ghost:hover img {
  opacity: 1;
}

.bnt-ghost:active {
  opacity: 0.3;
}

.small_box_4 .product {
  width: 270px;
  height: 270px;
}

.small_box_4 .product:nth-child(4n) {
  margin-right: 0px;
}

.small_box_4 .product .content {
  width: 270px;
  height: 270px;
  text-align: center;
}

.item-1 {
  background-image: url(img/trend-item-1.jpg);
}

.item-2 {
  background-image: url(img/trend-item-2.jpg);
}

.item-3 {
  background-image: url(img/trend-item-3.jpg);
}

.item-4 {
  background-image: url(img/trend-item-4.jpg);
}

.item-5 {
  background-image: url(img/trend-item-5.jpg);
}

.item-6 {
  background-image: url(img/trend-item-6.jpg);
}

.item-7 {
  background-image: url(img/trend-item-1.jpg);
}

.item-8 {
  background-image: url(img/trend-item-2.jpg);
}

.item-9 {
  background-image: url(img/trend-item-3.jpg);
}

.item-10 {
  background-image: url(img/trend-item-4.jpg);
}

.item-11 {
  background-image: url(img/trend-item-5.jpg);
}

.item-12 {
  background-image: url(img/trend-item-6.jpg);
}

.load {
  width: 100%;
  font-family: icomoon;
  font-size: 28px;
  font-weight: 400;
  text-align: center;
  padding-top: 40px;
  /*  padding-left: 22px;*/
}

.load a {
  text-decoration: none;
  color: #212121;
}

.load a:hover {
  opacity: 0.6;
}

.load a:active {
  opacity: 0.3;
}

.feat-product-1 {
  background-image: url(img/feat-product-1.jpg)
}

.feat-product-2 {
  background-image: url(img/feat-product-2.jpg)
}

.feat-product-3 {
  background-image: url(img/feat-product-3.jpg)
}

.feat-product-4 {
  background-image: url(img/feat-product-4.jpg)
}

.promo-product-1 {
  background-image: url(img/promo-product-1.jpg);
}

.promo-product-2 {
  background-image: url(img/promo-product-2.jpg);
}

.small_box_3 .product {
  width: 370px;
  height: 370px;
}

.small_box_3 .product:nth-child(3n) {
  margin-right: 0px;
}

.small_box_3 .product .content {
  width: 370px;
  height: 370px;
  text-align: center;
}

.trending_product_1 {
  background-image: url(img/trend-item-1.jpg);
}

.trending_product_2 {
  background-image: url(img/trend-item-2.jpg);
}

.trending_product_3 {
  background-image: url(img/trend-item-3.jpg);
}

.trending_product_4 {
  background-image: url(img/trend-item-4.jpg);
}

.trending_product_5 {
  background-image: url(img/trend-item-5.jpg);
}

.trending_product_6 {
  background-image: url(img/trend-item-6.jpg);
}

.hot_deals {
  height: 800px;
}

.hot_deal_product {
  height: 800px;
  background-image: url(img/slider-hot.jpg);
}

.hot_deal_product .content {
  height: 800px;
  width: 488px;
  padding-left: 98px;
}

.hot_deal_product .tag {
  color: #e53935;
}

.small_box_5 {
  /*    padding: 98px;*/
  /*  padding-right: 50px;*/
}

.small_box_5 .product:first-child {
  width: 570px;
  height: 570px;
}

.small_box_5 .product:first-child .content {
  height: 570px;
  width: 340px;
  padding-left: 7%;
  text-align: left;
  margin-right: 30px;
  display: table-cell !important;
  background: none;
  /*  opacity: 0;*/
}

.small_box_5 .product {
  width: 270px;
  height: 270px;
  background-color: antiquewhite;
}

.small_box_5 .product:nth-child(2n+3) {
  margin-right: 0px;
}

.small_box_5 .product .content {
  width: 270px;
  height: 270px;
  text-align: center;
}

.exclusive_products .tag {
  color: #1e88e5;
}

.exclusive_product_1 {
  background-image: url(img/exclusive-product-1-lg.jpg);
}

.exclusive_product_2 {
  background-image: url(img/exclusive-product-2-sm.jpg);
}

.exclusive_product_3 {
  background-image: url(img/exclusive-product-3-sm.jpg);
}

.exclusive_product_4 {
  background-image: url(img/exclusive-product-4-sm.jpg);
}

.exclusive_product_5 {
  background-image: url(img/exclusive-product-5-sm.jpg);
}

.mobile_app {
  background-image: url(img/mobile-back-img.jpg);
  height: 516px;
  /*  margin-top: 117px;*/
}

.mobile_app .content {
  height: 516px;
  width: 450px;
  padding-left: 98px;
}

.mobile_app .tag {
  color: #6c6c6c;
}

.contacts .product {
  outline: 1px solid #a6a6a6;
}

.contacts .content {
  display: table-cell!important;
}

.contacts .content .icon {
  font-family: icomoon;
  color: #212121;
  font-size: 48px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 30px;
  /* Приближение из-за подстановки шрифтов */
  text-align: center;
}

.contacts .content h3 {
  margin-top: 24px;
}

.contacts .content p {
  margin-top: 10px;
  margin-bottom: 0px;
}

.contacts .content p span {
  font-family: Montserrat;
  color: #212121;
  font-size: 14px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 20.082px;
  /* Приближение из-за подстановки шрифтов */
  text-align: center;
}

.contacts .content p span:first-child {
  font-family: Montserrat;
  color: #6c6c6c;
  font-size: 14px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 20.082px;
  /* Приближение из-за подстановки шрифтов */
  text-align: center;
}

.clr {
  clear: both;
}

.footer {
  height: 384px;
  background-color: #f7f7f7;
}

.footer-1 {
  width: 225px;
  height: 139px;
  margin-top: 115px;
  margin-left: 97px;
  /*  display: inline-block;*/
  float: left;
}

.footer-2 {
  width: 422px;
  height: 101px;
  margin-left: 76px;
  margin-top: 115px;
  /*  display: inline-block;*/
  float: left;
}

.footer-3 {
  width: 385px;
  height: 147px;
  margin-left: 78px;
  margin-top: 115px;
  /*  display: inline-block;*/
  float: left;
}

.footer h3 {
  font-family: Montserrat;
  color: #6c6c6c;
  font-size: 18px;
  letter-spacing: 0.075em;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  margin-bottom: 13px;
}

.footer p {
  font-family: Montserrat;
  color: #212121;
  font-size: 14px;
  letter-spacing: -0.01em;
  font-weight: 300;
  line-height: 22px;
  text-align: left;
  margin-bottom: 21px;
}

.footer .links-1 {
  float: left;
  margin-top: -2px;
}

.footer .links-2 {
  float: right;
  margin-top: -2px;
}

.footer .links li {
  list-style-type: none;
}

.footer .links a {
  text-decoration: none;
  font-family: Montserrat;
  color: #212121;
  font-size: 14px;
  letter-spacing: 0.03em;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
}

.footer .subscribe {
  border: 1px solid #d9dee1;
  background-color: #ffffff;
}

.footer input[type="email"] {
  border: none;
  width: 298px;
  height: 46px;
  font-family: Montserrat;
  color: #6c6c6c;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  text-align: left;
  padding-left: 17px;
}

.footer input[type="submit"] {
  border: none;
  background-color: #ffffff;
  width: 46px;
  height: 46px;
  background-image: url(img/send.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.footer .copyright {
  float: left;
  width: 1171px;
  height: 35px;
  margin-top: 64px;
  margin-left: 98px;
}

.footer .copyright h4,
.footer .copyright h4 a {
  display: inline;
  font-family: Montserrat;
  color: #6c6c6c;
  font-size: 12px;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-align: left;
  vertical-align: top;
  text-decoration: none;
}

.footer .copyright .icon-links {
  display: inline-block;
  margin-left: 158px;
  margin-right: 167px;
  vertical-align: top;
}

.footer .copyright a {
  text-decoration: none;
}

.footer .copyright .icon {
  text-decoration: none;
  color: #6c6c6c;
  font-size: 28px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 26px;
  /* Приближение из-за подстановки шрифтов */
  text-align: center;
}


/*font Icomoon*/

@font-face {
  font-family: 'IcoMoon-Free';
  src: url('fonts/IcoMoon-Free.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'IcoMoon-Free' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-loop2:before {
  content: "\ea2e";
}

.icon-facebook:before {
  content: "\ea90";
}

.icon-facebook2:before {
  content: "\ea91";
}

.icon-twitter:before {
  content: "\ea96";
}

.icon-google-plus:before {
  content: "\ea8b";
}

.icon-google-plus2:before {
  content: "\ea8c";
}

.icon-google-plus3:before {
  content: "\ea8d";
}

.icon-pinterest:before {
  content: "\ead1";
}

.icon-pinterest2:before {
  content: "\ead2";
}

.icon-location:before {
  content: "\e947";
}